<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
</head>

<body>
 <!--내용은 맞게 수정해주세요-->
<pre>제 1 장 총칙
제 2 장 회원가입 및 관리
제 3 장 서비스의 제공 및 이용
제 4 장 기타

<h4>제 1 장 총칙</h4>
제1조(목적)
본 약관은 도서관(이하 도서관이라 함)의 MINDSHARE이 제공하는 각종 정보서비스(이하 서비스라 함)에
이용자가 회원(본 약관에 동의하고 회원등록을 완료한 모든 이용자로 이하 회원이라 함)으로 가입하고
이를 이용함에 있어 MINDSHARE과 회원 간의 권리와 책임사항을 규정함을 목적으로 합니다.

제2조(약관의 효력)
1. 본 약관은 MINDSHARE에 가입한 모든 회원에 대하여 적용됩니다.
2. MINDSHARE은 이 약관의 내용을 회원이 손쉽게 확인할 수 있도록 서비스 초기 화면에 게시합니다.
3. 본 약관에서 명시되지 아니한 사항에 대해서는 관계 법령에서 정하는 바에 따르기로 합니다.

제3조(약관의 개정)
1. 본 약관을 개정할 경우에는 기존약관, 개정약관 및 개정약관의 적용일자와 사유를 명시하여
   적용일자 15일 전부터 홈페이지에 공지하고 기존 회원들에게는 회원가입 시
   등록한 이메일 주소 또는 휴대폰으로 개정약관을 발송합니다.
2. 개정약관을 고지 또는 공지한 후 개정약관의 적용일자로부터 15일까지
   회원의 의사표시가 없는 경우에는 변경된 약관을 승인한 것으로 봅니다.
   회원이 개정약관에 동의할 수 없을 경우 제14조 1항의 규정에 따라 탈퇴할 수 있습니다.

<h4>제2장 회원가입 및 관리</h4>
제4조(회원가입방법)
1. 장애인등록증 또는 장애인복지카드를 소지하고 있는 시각 장애인, 지체 장애인 및 지적 장애인만이
   MINDSHARE에 회원으로 가입하여 모든 서비스를 이용할 수 있습니다.
2. 시각장애의 경우 1급에서 6급까지 모든 등급의 복지카드 소지자가 회원으로 등록할 수 있으나,
   지체장애 및 지적장애의 경우 1급에서 3급까지 등급의 복지카드 소지자만 회원으로 등록할 수 있습니다.
   또한 신청자가 14세 미만일 경우에는 법적 보호자의 동의가 필요합니다.
3. 이용자는 MINDSHARE이 지정한 양식에 따라 회원가입 신청을 해야 하며,
   가입신청을 완료한 후 소지하고 있는 복지카드의 사본을 팩스나 이메일,
   휴대폰으로 음성도서관 담당자에게 발송해야 합니다. 
   가입 신청 시 “동의” 버튼을 누르거나 “확인” 등에 체크한 것은 본 약관에 동의한 것으로 간주 됩니다.

제5조(회원가입제한)
MINDSHARE은 다음 각 호에 해당하는 경우에는 이용자의 가입을 제한할 수 있습니다.

(1) 타인의 명의를 사용하여 신청하였을 경우
(2) 회원가입신청서의 내용을 허위로 기재하였을 경우
(3) 제4조에서 지정한 장애구분(분류) 및 장애등급을 유지하고 있지 않은 경우
(4) MINDSHARE 회원등록에 필요한 장애인등록증 또는 장애인복지카드를 제출하지 않은 경우
(5) 본 약관과 관련 법령 등을 기준으로 명백하게 사회질서 및 미풍양속에 반할 우려가 있는 경우
(6) 기타 본 도서관이 서비스의 효율적인 운영 등을 위하여 필요하다고 인정되는 경우

제6조(회원정보 관리책임)
1. 회원은 MINDSHARE의 서비스 이용을 위한 ID, 비밀번호 관리에 대한 책임을 지며,
   회원의 고의나 과실로 인한 개인정보 유출 등의 불이익에 대해 모든 책임을 부담해야 합니다.
   단, 이것이 MINDSHARE의 고의나 과실로 인해 야기된 경우에는 MINDSHARE이 모든 책임을 부담합니다.
2. 회원은 ID, 비밀번호 등의 개인정보를 도난 당하거나 제3자가 사용하는 것을 인지한 경우
   즉시 본인의 비밀번호를 수정하는 등의 조치를 취하여야 하며, 이러한 사실을 즉시 MINDSHARE에 통보해야 합니다.

제7조(개인정보수집)
MINDSHARE은 서비스 제공을 위해 개인정보보호법 등 관련 법령에 따라 회원으로부터 필요한 개인정보를 수집합니다.

제8조(회원정보변경)
회원은 다음 각 호에 해당하는 사항이 변경되었을 경우 즉시 회원정보 관리페이지에서 변경해야 합니다.
회원이 회원정보를 변경하지 아니하여 발생한 손해에 대하여 MINDSHARE은 어떤 책임도 부담하지 않습니다.

(1) 회원성명
(2) 생년월일
(3) 성별
(4) 회원아이디
(5) 비밀번호
(6) 직업
(7) 휴대폰 번호
(8) 이메일 주소
(9) 문자 메시지 발송동의 여부
(10) 이메일 발송동의 여부

<h4>제3장 서비스의 제공 및 이용</h4>
제9조(서비스 이용)
1. 서비스 이용을 원하는 이용자는 가입완료 뒤 MINDSHARE 담당자의 가입승인 후부터
   MINDSHARE의 모든 서비스를 이용할 수 있습니다.
2. MINDSHARE의 모든 서비스는 업무상 또는 기술상 불가능한 경우를 제외하고는 연중무휴 24시간 제공됩니다.
3. 업무상 또는 기술상의 사정으로 인해 MINDSHARE이 서비스를 제공하지 못하는 사유가 발생한 경우,
   MINDSHARE은 이를 즉시 회원에게 통보하여야 합니다.

제10조(서비스 내용 변경)
MINDSHARE이 콘텐츠 서비스를 위해 계약한 콘텐츠 제공자와의 계약종료 및 기타 사유로 서비스 내용이 변경되거나 종료되는 경우
MINDSHARE은 회원에게 홈페이지 공지 또는 회원정보에 등록된 이메일 또는 휴대폰으로 이 사실을 통보하여야 합니다.

제11조(서비스 제공 요금)
MINDSHARE에서 제공되는 모든 서비스는 무상으로 제공됩니다.

제12조(회원의 의무)
회원은 다음 각 호에 해당하는 행위를 하여서는 아니 됩니다.

(1) MINDSHARE 회원가입신청 또는 변경 시 허위내용을 등록하는 행위
(2) 다른 회원의 ID와 비밀번호를 도용하여 부당하게 서비스를 이용하는 행위
(3) 타인의 장애인등록증 또는 장애인복지카드를 도용하여 부당하게 서비스를 이용하는 행위
(4) 다른 회원의 개인정보를 해킹하거나 수집, 공개하는 행위
(5) MINDSHARE에서 제공하는 콘텐츠를 MINDSHARE의 사전승낙 없이 영리 또는 비영리의 목적으로
    복사, 복제 또는 번역하여 출판, 방송 및 홍보에 사용하거나 제3자에게 제공하는 행위
(6) MINDSHARE에서 제공하는 정보 검색 및 열람 기능 외의 행위로
    도서관의 정보시스템 및 데이터베이스, 제공 자료를 훼손하는 행위
(7) 정크메일, 스팸메일을 보내거나 외설 또는 폭력적인 메시지 등
    공공질서와 미풍양속에 위배되는 내용의 정보를 게시하거나 유포하는 행위
(8) MINDSHARE의 관리자를 사칭하거나 타인의 명의를 도용하여 메일을 발송하거나 글을 게시하는 행위
(9) 라이선스가 없는 불법 소프트웨어 또는 바이러스를 포함하고 있는 자료를 게시하거나 이메일로 발송하는 행위
(10) 욕설, 게시판 글 도배 등으로 다른 회원의 서비스 이용을 방해하는 행위
(11) 전화와 이메일을 통해 서비스와 관계없는 인신공격 및 비방을 하여 서비스 운영을 방해하는 행위
(12) 제3자의 지적재산권을 침해하거나, 지적재산권자가 지적재산권이 침해되었음을 주장할 수 있는 행위
(13) 기타 회원이 본 약관의 의무를 위반하거나 관계법령에 위반되는 행위

제13조(음성도서관의 의무)
1. MINDSHARE은 회원에게 지속적이고 안정적인 서비스를 제공하기 위해 서비스 제공과 관련된
   설비의 유지, 점검 또는 복구 등의 조치를 성실하게 이행하여야 합니다.
2. MINDSHARE은 회원이 수신동의하지 않은 홍보성 이메일, SMS 메시지 등을 발송하지 아니합니다.
3. MINDSHARE은 회원이 서비스 이용을 위해 가입 시 등록한 개인정보를
   회원 본인의 승낙없이 제3자에게 누설하거나 제공하지 않으며,
   이를 안전하게 보호하기 위해 노력합니다.
   회원의 개인정보보호에 관한 사항은 정보통신망법 및 MINDSHARE이 별도로 정한 “개인정보취급방침”에 따릅니다.

제14조(이용계약의 해지)
1. 회원이 MINDSHARE의 이용계약 해지를 원할 때에는 언제든지 회원정보관리에서
   MINDSHARE이 정한 절차에 따라 회원의 ID를 삭제하고 탈퇴할 수 있습니다.
2. 회원이 제12조의 규정을 위반한 경우 MINDSHARE은 일방적으로 본 계약을 해지할 수 있으며,
   이로 인해 서비스 운영 등에 손해가 발생한 경우 이에 대한 민,형사 상의 책임도 물을 수 있습니다.
3. 회원이 서비스에 1년간 로그인 기록이 없을 경우에는 자동으로 휴면계정으로 전환이 됩니다.
   이용자가 휴면계정 전환 대상자가 되는 경우, 사전에 휴대폰 또는 전자우편을 발송하여 안내를 드립니다.
   휴면회원으로 전환 시, 아이디를 제외한 개인정보는 파기됩니다.
<h4>제4장 기타</h4>
제15조(손해배상)
회원의 본 약관에 위반되는 행위로 인하여 MINDSHARE에 손해가 발생한 경우 회원은 이를 배상하여야 합니다.

제16조(면책조항)
1. MINDSHARE은 서비스하는 정보의 내용에 관하여서는 책임을 지지 아니 합니다.
2. 천재지변 및 이에 준하는 불가항력의 상태에 있는 경우, 회원의 귀책사유 등으로 서비스를 제공할 수 없을 경우
   이로 인하여 회원에게 발생한 손해에 대하여 MINDSHARE은 책임을 부담하지 않습니다.

제17조(분쟁의 해결)
본 약관은 대한민국법령에 의하여 규정되고 이행되며, 서비스 이용과 관련하여
음성도서관과 회원간에 발생한 분쟁에 대해서는 민사소송법상의 주소지를 관할하는 법원을 합의 관할로 합니다.
</pre>
</body>
</html>