<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
</head>

<body>
<!--내용은 맞게 수정해주세요-->
<pre>
수집하는 민감정보의 항목
민감정보의 수집 및 이용 목적
민감정보 보유 기간
동의거부권 및 동의 거부에 따른 불이익

<h4>수집하는 민감정보의 항목</h4>
MINDSHARE은 장애인에 대한 원활한 서비스 제공을 위하여 아래와 같은 민감정보를 수집·이용하고 있습니다.

- 민감정보 : 장애구분(분류), 장애등급 항목

<h4>민감정보의 수집 및 이용 목적</h4>
회원 가입 인증 및 장애인에게 필요한 서비스 제공, 확대를 위한 통계자료 수집

<h4>민감정보 보유 기간</h4>
MINDSHARE은 개인정보 수집 및 이용목적이 달성된 후에는 예외 없이 해당 정보를 지체 없이 파기합니다.
또한 MINDSHARE에 1년간 로그인 기록이 없을 경우에는 자동으로 휴면계정으로 전환하고 아이디를 제외한 개인정보를 파기합니다.

<h4>동의거부권 및 동의 거부에 따른 불이익</h4>
가입자는 민감정보 수집·이용에 대하여 거부할 수 있는 권리가 있으며, 이에 대한 동의를 거부할 경우 회원 가입이 제한 될 수 있습니다.
</pre>
</body>
</html>