<!--이용약관 페이지입니다 TOS는 Terms of service terms of use의 약자입니다.-->
<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>이용약관</title>
    <style>

        .wrap {
            height: 100%; 
            padding-top: 120px;
        }

        .container{
            width: 90%;
            margin: 0 auto;
        }

        section {
            float: right;
            width: 75%;
        }

        section p {
            padding: 10px;
            background: #bdc3c7;
            margin-top:1em;
        }

    </style>
    </head>
    <body>
        <div class="wrap">
    
            <div class="container">
                <section>
                    <p>개인정보 이용동의서 내용추가하면 됩니다</p>
                    <label>
                        <input type='checkbox' name='id' />동의합니다
                        <input type='checkbox' name='id' />동의하지 않습니다
                    </label>
                    <p>이용약관 동의서 내용추가하면 됩니다</p>
                    <label>
                        <input type='checkbox' name='use'/>동의합니다
                        <input type='checkbox' name='id' />동의하지 않습니다
                    </label>
                    <p>민감정보 이용동의서 내용추가하면 됩니다</p>
                    <label>
                        <input type='checkbox' name='id' />동의합니다
                        <input type='checkbox' name='id' />동의하지 않습니다
                    </label>
                    <br><br>
                    <label>
                        <input type="submit" name="submit" id="submit" value="확인했습니다">
                    </label>
                    
                </section>
            </div>
        </div>
        
    </body>
</html>